.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.card{
  max-width: 30em;
}

.typo_desc{
  /* margin-left: -14.5em; */
  margin-left: 5%;

}
.h1Typo {
  font-family: "Urbanist", sans-serif;
  font-style: bold;
  font-size: 40pt;
  font-weight: 900;
  color: black;
  /* margin-left: -4em; */
  margin-left: 5%;
}
.h2Typo {
  font-family: "Urbanist", sans-serif;
  font-style: bold;
  font-size: 26pt;
  font-weight: 600;
  color: black;
  /* margin-left: -6em; */
  margin-left: 5%;
}
.h3Typo {
  font-family: "Urbanist", sans-serif;
  font-style: bold;
  font-size: 22pt;
  font-weight: 500;
  color: black;
  /* margin-left: -7em; */
  margin-left: 5%;
}
.h4Typo {
  font-family: "Urbanist", sans-serif;
  font-style: bold;
  font-size: 20;
  font-weight: 500;
  color: black;
  /* margin-left: -14.5em; */
  margin-left: 5%;
}

.BodyTypo {
  font-family: "Sarabun", sans-serif;
  font-weight:500;
  font-style: normal;
  color: black;
  font-size: 18;
  /* margin-left: -14.5em; */
  margin-left: 5%;
}
.ButtonMetaTypo {
  font-family: "Sarabun", sans-serif;
  font-weight:500;
  font-style: normal;
  color: black;
  font-size: 18;
  /* margin-left: -14.5em; */
  margin-left: 5%;
}
.graphicTitle{
  margin-top: 2em;
  /* margin-left: -7em; */
  margin-left: 5%;
  font-weight: bold;
  font-size: 30px;
  color: black;
}
.carCrash{
  margin-top: 2em;
  /* margin-left: -14em; */
  margin-left: 5%;
}

.graphicDesc{
  margin-top: 1em;
  /* margin-left: -14em; */
  margin-left: 5%;
}

.graphicName{
  margin-top: 1em;
  /* margin-left: -14em; */
  margin-left: 5%;
}

.graphicExpl{
  margin-top: 2em;
  margin-bottom: 2em;
  /* margin-left: -14em; */
  margin-left: 5%;
}

.traffic{
  margin-top: 2em;
  /* margin-left: -14em; */
  margin-left: 5%;
}

.RoadClosed{
  margin-top: 2em;
  /* margin-left: -14em; */
  margin-left: 5%;
}

.locationPage{
  margin-top: 2em;
    /* margin-left: -14em; */
    margin-left: 5%;
    border: solid black;
}
