.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.card{
  max-width: 30em;
}

.h1Typo {
  font-family: "Urbanist", sans-serif;
  font-style: bold;
  font-size: 40pt;
  font-weight: 900;
  color: black;
}
.h2Typo {
  font-family: "Urbanist", sans-serif;
  font-style: bold;
  font-size: 26pt;
  font-weight: 600;
  color: black;
}
.h3Typo {
  font-family: "Urbanist", sans-serif;
  font-style: bold;
  font-size: 22pt;
  font-weight: 500;
  color: black;
}
.h4Typo {
  font-family: "Urbanist", sans-serif;
  font-style: bold;
  font-size: 20;
  font-weight: 500;
  color: black;
}

.BodyTypo {
  font-family: "Sarabun", sans-serif;
  font-weight:500;
  font-style: normal;
  color: black;
  font-size: 18;
}
.ButtonMetaTypo {
  font-family: "Sarabun", sans-serif;
  font-weight:500;
  font-style: normal;
  color: black;
  font-size: 18;
}

.test {
  width: 80%;
}