.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.card{
  max-width: 30em;
}

.typo_desc{
  margin-left: -14.5em;

}
.h1Typo {
  font-family: "Urbanist", sans-serif;
  font-style: bold;
  font-size: 40pt;
  font-weight: 900;
  color: black;
  margin-left: -4em;
}
.h2Typo {
  font-family: "Urbanist", sans-serif;
  font-style: bold;
  font-size: 26pt;
  font-weight: 600;
  color: black;
  margin-left: -6em;
}
.h3Typo {
  font-family: "Urbanist", sans-serif;
  font-style: bold;
  font-size: 22pt;
  font-weight: 500;
  color: black;
  margin-left: -7em;
}
.h4Typo {
  font-family: "Urbanist", sans-serif;
  font-style: bold;
  font-size: 20;
  font-weight: 500;
  color: black;
  margin-left: -14.5em;
}

.BodyTypo {
  font-family: "Sarabun", sans-serif;
  font-weight:500;
  font-style: normal;
  color: black;
  font-size: 18;
  margin-left: -14.5em;
}
.ButtonMetaTypo {
  font-family: "Sarabun", sans-serif;
  font-weight:500;
  font-style: normal;
  color: black;
  font-size: 18;
  margin-left: -14.5em;
}

.carCrash{
  margin-top: 1em;
}

.graphicDesc{
  margin-top: 1em;
}

.graphicName{
  margin-top: 1em;
}

.graphicExpl{
  margin-top: 2em;
}

.traffic{
  margin-top: 1em;
}

.RoadClosed{
  margin-top: 1em;
}
